<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Date Manager</title>
  </head>
  <body>
    {{ none_message }}
    <!-- find a match form -->
  <section>
    <form action="review_date" method="POST">
    {% for radio_date in dates %}
    {% if radio_date['happened'] == 'N' %}
    <p>
      <input type='radio' name="radio_date" id="{{ radio_date['matchID'] }}" value="{{ radio_date['matchID']}},{{ radio_date['date_number'] }}">
      <label for="{{ radio_date['matchID'] }}">{{ radio_date['first_name'] }} {{ radio_date['last_name']}}, {{ radio_date['date_date'] }} @ {{ radio_date['date_time'] }}  // {{ radio_date['location'] }}</label><br>
      {% endif %}
      {% endfor %}
      </p>
      <p>
        was the date a success?
        <select name= "review">
          <option value='Y'>Yes</option>
          <option value="N">No</option>
        </select>
      </p>
      <p>
        <input type='submit' value="submit">
      </p>
    </form>
  </section>


    <p>
      Actions:
      <a href="/logout">Logout</a>
    </p>
  </body>
  <footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>