<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Select which tuple you'd like to delete and hit the submit button.</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <p>{{ msg }}</p>

<form action="delete_interest" method="POST">
	<select name= "interest">
	{% for each in to_delete %}
		<option value="{{ each['interest'] }}" >
			interest = {{ each['interest'] }}, category = {{ each['category'] }}
		</option> <br>
	{% endfor %}
	</select>

	<p>
         <input type="submit" value="delete tuple"/>
    </p>
</form>	