<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Select which tuple you'd like to delete and hit the submit button.</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <p>{{ msg }}</p>

<form action="delete_customer" method="POST">
	<select name= "customer">
	{% for each in to_delete %}
		<option value="{{ each['ssn'] }}" >
			ssn = {{ each['ssn'] }}, first_name = {{ each['first_name'] }}, last_name = {{ each['last_name'] }},
			DOB = {{ each['DOB'] }}, age = {{ each['age'] }}, phone = {{ each['phone'] }}, gender = {{ each['gender'] }}, interested_in = {{ each['interested_in'] }}
		</option> <br>
	{% endfor %}
	</select>
	<p>
         <input type="submit" value="delete customer"/>
    </p>
</form>	