<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    {{ none_message }}
    <p>
      Welcome, {{user['username']}}!
    </p>
    <!-- find a match form -->
  <section>
    <h1>Find a Match:</h1>
    <form action="find_match" method="POST">
      <p>
        <input type="checkbox" name="married" id="Married" value="0">
        <label for="Married">It's okay if my match has been married before.</label>
      </p>
      <p>
        <label for="max_kids">How many children can your match have?</label>
        <input type="number" name="max_kids" id="max_kids" min="0" value="0"/>
      </p>
      <p>
        <label for="max_age">How OLD could your match be?</label>
        <input type="number" name="max_age" id="max_age" min="0" value="80"/>
      </p>

      <p>
        <label for="min_age">How YOUNG could your match be?</label>
        <input type="number" name="min_age" id="min_age" min="18" value="20"/>
      </p>

      <p>
        <h4>What interests should your match have?</h4>
        {% for interest in interests %}
          <label for="{{ interest['interest'] }}">{{ interest["interest"] }}</label>
          <input type="checkbox" name="interest" id="{{ interest['interest'] }}" value="{{ interest['interest'] }}" /><br>
        {% endfor %}
        <label for="any">ANY INTEREST</label>
        <input type="checkbox" name="any_interest" id="any" value='1'/><br>
      </p>

      <h5>Should your match have ALL of your interests?</h5
        <label for="exact">Yes</label>
        <input type="checkbox" name="exact" id="exact"/>
      </p>
      <p>
          <select name="eye_color" id="ec"> 
            <option value="brown">brown</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value='any'>any</option>
          </select><label for='ec'> Eye Color</label>
        </p>

        <p>
          <select name="hair_color" id='hc'> 
            <option value="brown">brown</option>
            <option value="blonde">blonde</option>
            <option value="black">black</option>
            <option value="red">red</option>
            <option value='any'>any</option>
          </select><label for='hc'> Hair Color</label>
        </p>
      <p>
        
      <input type="submit" value="Match Me!"/> 
    </form> 
  </section>

<!-- personal info-->
  <section>
    <h1>Personal Info:</h1>
      {% for each in user %}
        {{ each }}: {{ user[each] }}<br>
      {% endfor %}
      <p>Total fees logged: {{ fees }}<p>
  </section>

<!--past  dates  -->
  <section> 
    <form action="dates" method="POST"> 
      {% for date in dates %}
        {% if date['happened'] == 'N' %}
        <br>{{ date['username'] }}    {{ date['last_name'] }}, {{ date['first_name'] }}:       {{ date['date_date'] }}<br>
        {% endif %}
      {% endfor %}
      <input type= "submit" value= "Date manager">
    </form>
  </section><br><br>

  <section id='add_child'>
    <h4>Add your child's information</h4>
    <form action='add_child' method="POST">
      <input type='number' name='age' min='1' id='age' value='1'/>
      <label for='age'>age</label><br>
      <select name='at_home'>
        <option value="Y">living at home</option>
        <option value="N">moved out</option>
      </select>
      <input type='submit' value="enter info"/>
    </form>
  </section>

    <p>
      Actions:
      <a href="/logout">Logout</a>
    </p>
  </body>
  <footer >
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>