<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DatingService.gu</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="img/hills.jpg" alt="Dating Service">
    </h1>
     <section>
      <form action="insert" method="POST">
        <h2>Join the Club!</h2>
        <p>
          <label for="FirstName">First Name:</label> <input type="text" name="firstname" id="FirstName" />
        </p>
        <p>
          <label for="LastName">Last Name:</label> <input type="text" name="lastname" id="LastName" />
        </p>
        <p>
          <label for="Username">Username: </label><input type="text" name="username" id="Username">
        </p>
        <p>
          <label for="Password">Password: </label><input type="text" name="password" id="Password">
        </p>
        <p>
          <label for="Phone">Phone Number:</label> <input type="text" name="phone" id="Phone" />
        </p>
        <p>
          <label for="SSN">SSN:</label> <input type="text" name="ssn" id="SSN"/>
        </p>
        <p>
          <label for="DOB">Date of Birth:</label> <input type="date" name="dob" id="DOB" value="1990-01-01" />
        </p>
        <div ><p>Gender:</p><label for="M">Male</label><input type="radio" name="gender" id="M" value="M" /><label for="F">Female</label><input type="radio" name="gender" id="F" value="F" />
        </div>
        <p>
          <label for="Children">Number of Children:</label><input type="number" name="children" id="Children" min="0" value="0"/>
        </p>
        <p>
          <label for="Married_Prev">I was married previously: </label><input type="checkbox" name="married_prev" id="Married_Prev" value="TRUE">
        </p>
        <p>
          My hobbies include&hellip;
        </p>
        <p>
          {% for interest in interests %}
            <input type="checkbox" name="interests" id="{{interest}}" value="{{interest['interest']}}"><label for="{{interest}}">{{interest['interest']}}</label> <br>
          {% endfor %}
        </p>

        <p>
          <select name="eye_color" id="ec"> 
            <option value="brown">brown</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
          </select><label for='ec'> Eye Color</label>
        </p>

        <p>
          <select name="hair_color" id='hc'> 
            <option value="brown">brown</option>
            <option value="blonde">blonde</option>
            <option value="black">black</option>
            <option value="red">red</option>
          </select><label for='hc'> Hair Color</label>
        </p>

        <h3>
          I'm interested in: 
        </h3>
        <p>
          <input type="radio" name="seeking" id="M" value="M"><label for="M">Males</label>
        </p>
        <p>
          <input type="radio" name="seeking" id="F" value="F"><label for="F">Females</label>
        </p>
        <p>
          <input type="submit" value="[join dating service]"/>
        </p>
      </form>
    </section>

    <section id="TheLine">
      <h2>The line:</h2>
      <ol>
        {% for person in people %}
          <li>{{person['username']}}</li>
        {% endfor %}
      </ol>
    </section>

    <section id="Login">
      <h3>Already have an account?</h3>
      <form action="login" method="GET">
        <input type="submit" value="Login"/>
      </form>
    
  </body>
  <footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>
