<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="login" method="POST">
      <p>
        <label for="username">Username:</label><input id="username" name="username" type="text" />
      </p>
      <p>
        <label for="password">Password:</label><input id="password" name="password" type="password" />
      </p>
      <p>
        <input type="submit" value="Log in" />
      </p>
      <h1>users:</h1>
      <p>{{ users }}</p>
    </form>
  </body>
