<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matches and Dates </title>
  </head>

  <body>
  	<!-- matches with the button to 'ask on a date' on certain date  -->
  	<section>
  		<form action="match" method="POST">
  			<h4>Matches</h4>
  			<p>
  				{% for match in matches %}
  					<input type="radio" name="match" value="{{ match['ssn'] }}"> {{ match['last_name'] }}, {{ match['first_name'] }} [{{ match['username'] }} ]<br>
  				{% endfor %}
  			</p>
        <p>
          <input type="date" value="Schedule date" name="date"/> <!-- bug: date must be in the future-->
          <input type="submit" value ="Ask on a date!"/>
        </p>
  		</form>
  	</section>
    <a href= "/home">Go back.</a>
  </body>
 </html>