<!-- What is the most common interest in the database? -->
 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>What is the most common interest in the databse? </title>
  </head>
    <h1>What is the most common interest in the database?</h1>
<section>
    <h2>Answer:</h2>
        {{ results }} <br>
</section>
    <p>
      Actions:
      <a href="/logout">Logout</a>
    </p>
  </body>
  <footer >
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>

