<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Specialist Home</title>
  </head>
  <h1>Welcome, {{ user['username'] }}</h1>
  <body>
    <p>
    <h3>Specified</h3> <a href= "/query_dropdown">queries</a> <h3>available to all staff:</h3>
  </p>


    <section>
      <h3>Select an element to update:</h3><br>
      <form action="get_special_update" method = "POST">
        <select name="update">
          {% for table in tables %}
            <option value="{{ table }}">{{ table }}</option>
          {% endfor %}
        </select>
        <input type='submit' value="submit">
      </form>
    </section>

    <!-- insert data -->
    <section>
      <form action="get_special_insert" method = "POST">
        <h3>Select an element to insert:</h3><br>
        <select name='insert_table'>
          {% for table in tables %}
            <option value="{{ table }}">{{ table }}</option>
          {% endfor %}
        </select>
        <input type='submit' value="submit">
      </form>
    </section>


<!-- delete tuples -->
    <section>
      <form action="get_special_delete" method = "POST">
        <h3>Select an element to delete:</h3><br>
        <select name='delete'>
          {% for table in tables %}
            <option name="table" value="{{ table }}">{{ table }}</option>
          {% endfor %}
        </select>
        <input type='submit' value="submit">
      </form>
    </section>
    <p>
      Actions:
      <a href="/logout">Logout</a>
    </p>

  </body>

  <footer >
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>
