<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Select which tuple you'd like to update and hit the submit button.</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <p>{{ msg }}</p>

<form action="update_customer_crime" method="POST">
	<select name= "criminal">
	{% for each in results %}
		<option value="{{ each['ssn'] }}" >
			ssn = {{ each['ssn'] }}, crime = {{ each['crime'] }}, date_recorded = {{ each['date_recorded'] }}
		</option> <br>
	{% endfor %}
	</select>

	<!-- INSERT ALL THE STUFF TO UDPATE -->
	<p>
    	<label for="crime">Crime: </label>
    	<select name="crime" id="crime"> 
    		<option value="no_change" selected="selected">
            {% for each in crimes %}
				<option value="{{ each['crime'] }}" >
					{{ each['crime'] }}
				</option> <br>
			{% endfor %}
    	</select>
    </p>
    <p>
    	<label for="date_recorded">Date recorded:</label> <input type="date" name="date_recorded" id="date_recorded" value="1000-01-01" />
    </p>

	<p>
         <input type="submit" value="update customer crime"/>
	</p>
</form>	
