<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Various Queries of the Database</title>
    <style>
    body {
      background-color: white;
    }

    h1 {
       color: deeppink;
      margin-left: 40px;
    } 
    ul {
    	color: hotpink;
    }
    a {
    	color: hotpink;

    }
  </style>
  </head>
  <body >
    <h1>
      Please select what you would like to see/do.
    </h1>
  </body>
  <ul>
        <li> <a href="/update_user">Update User</a> </li>
        <li><a href="/update_customer">Update Customer</a></li>
        <li><a href="/udpate_children_count">Update Childeren Count</a></li>
        <li><a href="/update_customer_children">Update Customer's Children</a></li>
        <li><a href="/update_customer_interest">Update Customer's Interests</a></li>
        <li><a href="/update_customer_crime">Update Customer's Crime</a></li>
        <li><a href="/update_date">Update a Date</a></li>
        <li><a href="/update_match_fee">Update a Match Fee</a></li>
        <li><a href="/update_registration_fee">Update a Registration Fee</a></li>

        <li> <a href="/delete_customer">Delete User</a> </li>
        <li><a href="/delete_customer_interest">Delete Customer</a></li>
        <li><a href="/delete_customer_crime">Delete Childeren Count</a></li>
        <li><a href="/delete_interest">Delete Customer's Children</a></li>
        <li><a href="/delete_match">Delete Customer's Interests</a></li>
        <li><a href="/delete_date">Delete Customer's Crime</a></li>
        <li><a href="/delete_customer_child">Delete a Date</a></li>
        <li><a href="/delete_match_fee">Delete a Match Fee</a></li>
        <li><a href="/delete_registration_fee">Delete a Registration Fee</a></li>
  </ul>

</html>


