<html lang="en">
  <head>
    <title>Insert Customer Crimes! </title>
  </head>
  <h3>Insert new crimes into the database to incriminate people</h3>
  <body>
  	<form action="special_insert_customer_crimes" method="POST">
  	   <p><p>select a customer</p>
          <select name= 'customer'>
          {% for person in people %}
            <option value="{{ person['ssn'] }}">{{ person['username']}}</option>
          {% endfor %}
        </select>
      </p>
      <p><p>select a crime</p>
          <select name= 'crime' >
          {% for crime in crimes %}
            <option value="{{ crime }}">{{ crime }}</option>
          {% endfor %}
        </select>
      </p>
      <input type='submit' value= "insert">
    </form>
  </body>
<a href="/home">homepage</a>
<footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>