<html lang="en">
  <head>
    <title>Interest Inserts!</title>
  </head>
  <h3>Insert new hobbies into the database for customers to choose from</h3>
  <body>
  	<form action="special_insert_interests" method="POST">
      <p>
        <input type="text" name="interest" id="int"/><label for="int">new hobbies</label>
      </p>
      <p>
        <input type="text" name="category" id="cat"/><label for="cat">category</label>
      </p>
      <input type='submit' value= "insert">
    </form>
  </body>
<a href="/home">homepage</a>
<footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>