<html lang="en">
  <head>
    <title>Insert Crimes</title>
  </head>
  <h3>Insert new crimes into the database to incriminate people</h3>
  <body>
  	<form action="special_insert_crime" method="POST">
  	 <p>
        <input type="text" name="crime" id="crime"/><label for="crime" maxlength="40">new crime</label>
      </p>
      <input type='submit' value= "insert">
    </form>
  </body>
<a href="/home">homepage</a>
<footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>