<html lang="en">
  <head>
    <title>Insert Users</title>
  </head>
  <h3>Insert users into the database</h3>
  <body>
  	<form action="special_insert_user" method="POST">
  	 <p>
          <label for="Username">Username: </label><input type="text" name="username" id="Username">
        </p>
        <p>
          <label for="Password">Password: </label><input type="text" name="password" id="Password">
        </p>
        <p>
        <label for="role">Role: </label>
        <select id="role" name="role">
          <option value="Customer">Customer</option>
          <option value="Specialist">Specialist Staff</option>
          <option value="Entry-level">Entry-Level Staff</option>
        </select>
      </p>
      <input type='submit' value= "insert">
    </form>
  </body>
<a href="/home">homepage</a>
<footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>