<html lang="en">
  <head>
    <title>Insert Roles</title>
  </head>
  <h3>Insert new roles into the database</h3>
  <body>
  	<form action="special_insert_role" method="POST">
  	 <p>
        <input type="text" name="role" id="role"/><label for="role">new role name</label>
      </p>
      <input type='submit' value= "insert">
    </form>
  </body>
<a href="/home">homepage</a>
<footer>
    <p>written by: Sara Fares and Connor Lu</p>
    <p>COSC-280</p>
    <a href="https://github.com/young-lu/DB_Project">code repository</a>
  </footer>
</html>